<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
    <title>Telegram Clicker</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="pkg/bootstrap.min.css">
    <link rel="stylesheet" href="pkg/animate.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="pkg/axios.min.js"></script>
    <script src="pkg/vue.global.js"></script>
    <!--    <script src="pkg/vue.global.prod.js"></script>-->
</head>
<body class="vh-100" id="app">

<div class="h-100" v-if="game_data !== null">
    <div class="p-3 navbar fixed-top gap-3 bg-body-tertiary border-bottom border-dark shadow">
        <div>
            <img class="rounded-circle border border-1 border-black"
                 alt="avatar" src="asset/img/avatar.png" height="80px">
        </div>
        <div class="d-flex flex-column gap-1 flex-grow-1">
            <div class="d-flex align-items-center fw-bold fs-6">
                <img src="asset/img/user.svg" alt="user" height="18px" class="me-2">
                <span class="text-dark me-2">{{ TelegramName }}</span>
                <span class="text-secondary">{{ TelegramID }}</span>
            </div>
            <div class="d-flex align-items-center fw-bold small">
                <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-2">
                <span class="text-success">{{ FormatNumber(game_data.current_coins) }}</span>
            </div>
            <div class="d-flex align-items-center fw-bold small">
                <img src="asset/img/gold.svg" alt="gold" height="18px" class="me-2">
                <span class="text-gold">{{ FormatNumber(game_data.current_gold) }}</span>
            </div>
        </div>
    </div>

    <div class="" style="padding: 8em 0 6em 0">
        <Transition name="state" mode="out-in">
            <div class="container d-flex flex-column gap-3 px-3" v-if="state.current === 'main'">
                <div v-for="card in game_data.cards">
                    <div class="d-flex w-100 gap-3" v-if="card.current_level > 0">
                        <div class="d-flex flex-column gap-2 align-items-center">
                            <div v-bind:class="'overflow-hidden border rounded-3 border-black clickable' + (percents[card.id] == 100 ? '' : ' opacity-50')"
                                 @pointerdown="Click($event, TelegramID, card.id)">
                                <img alt="img" class="bg-white" height="86px" width="96px" v-bind:src="card.image_url">
                                <div class="progress w-100 rounded-0 bg-white" style="height: 10px">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                         v-bind:style="'width: ' + percents[card.id] + '%'"></div>
                                </div>
                            </div>
                            <span class="fw-bold text-secondary small">LVL {{ card.current_level }}</span>
                        </div>
                        <div class="d-flex flex-column flex-grow-1 gap-1 w-25">
                            <span class="fw-bolder text-uppercase d-inline-block text-truncate">{{ card.name }}</span>
                            <div class="d-flex align-items-center justify-content-between m-0 p-0 small">
                                <span class="text-dark fw-bold me-2">Per click:</span>
                                <div class="d-flex align-items-center m-0 p-0 font-monospace">
                                    <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-1">
                                    <span class="text-dark fw-bold text-truncate"
                                    >{{ FormatNumber(card.current_coins_per_click) }}</span>
                                    <img src="asset/img/right.svg" alt="right" height="18px" class="mx-1">
                                    <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-1">
                                    <span class="text-dark fw-bold text-truncate"
                                    >{{ FormatNumber(card.next_level_coins_per_click) }}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between m-0 p-0 small">
                                <span class="text-dark fw-bold me-2">Timeout:</span>
                                <div class="d-flex align-items-center m-0 p-0 font-monospace">
                                    <img src="asset/img/clock.svg" alt="time" height="18px" class="me-2">
                                    <span class="text-dark fw-bold text-truncate"
                                    >{{ card.click_timeout }} sec</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between m-0 p-0">
                                <a v-bind:class="'btn btn-lg btn-success fw-bold w-100 d-flex align-items-center justify-content-center clickable' + (card.upgrade_price > game_data.current_coins ? ' disabled' : '')"
                                   @click="BuyCard($event, TelegramID, card.id)">
                                    <span class="text-uppercase me-1">BUY</span>
                                    <img src="asset/img/coin.svg" alt="coin" height="22px" class="me-1">
                                    <span class="text-truncate">{{ FormatNumber(card.upgrade_price) }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="" v-else>
                        <span class="fw-bolder text-uppercase d-block mb-2 text-truncate">{{ card.name }}</span>
                        <a v-bind:class="'btn btn-lg btn-success fw-bold w-100 d-flex align-items-center justify-content-center clickable' + (card.upgrade_price > game_data.current_coins ? ' disabled' : '')"
                           @click="BuyCard($event, TelegramID, card.id)">
                            <span class="text-uppercase me-1">UNLOCK</span>
                            <img src="asset/img/coin.svg" alt="coin" height="22px" class="me-1">
                            <span class="text-truncate">{{ FormatNumber(card.upgrade_price) }}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="container d-flex flex-column gap-3 px-3 align-items-center justify-content-between h-100"
                 v-else-if="state.current === 'investors'">
                <div></div>
                <div class="row row-cols-2 w-100">
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center text-center">
                        <span class="text-uppercase">Current investors</span>
                        <span class="display-4">{{ game_data.current_investors }}</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center text-center">
                        <span class="text-uppercase">Current multiplier</span>
                        <span class="display-4">x{{ FormatFloat(game_data.current_investors_multiplier) }}</span>
                    </div>
                </div>
                <div class="d-flex flex-column gap-1 justify-content-center col-12 align-items-center">
                    <span class="lead text-uppercase">You can claim</span>
                    <span class="display-3">{{ FormatNumber(game_data.investors_after_reset) }}</span>
                    <span class="lead text-uppercase">investors</span>
                </div>
                <div class="row row-cols-2 w-100">
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center text-center">
                        <span class="text-uppercase">Bonus per investor</span>
                        <span class="display-4">{{ game_data.percents_per_investor }}%</span>
                    </div>
                    <div class="d-flex flex-column gap-1 justify-content-center align-items-center text-center">
                        <span class="text-uppercase">Total multiplier after reset</span>
                        <span class="display-4">x{{ FormatFloat(game_data.investors_multiplier_after_reset) }}</span>
                    </div>
                </div>
                <a v-bind:class="'btn btn-lg btn-success fw-bold w-100 d-flex align-items-center justify-content-center clickable' + (game_data.current_investors < game_data.investors_after_reset ? '' : ' disabled')"
                   @click="Reset($event, TelegramID); state.current = 'main'">
                    <span class="text-uppercase me-1">RESET</span>
                </a>
            </div>

            <div class="container d-flex flex-column gap-3 px-3 align-items-center justify-content-between h-100"
                 v-else-if="state.current === 'shop'">
                <h1 class="text-center">The shop is not yet available</h1>
                <p class="lead">Coming soon...</p>
            </div>

            <div class="container d-flex flex-column gap-3 px-3 align-items-center justify-content-between h-100"
                 v-else-if="state.current === 'tasks'">
                <h1 class="text-center">Nothing</h1>
                <p class="lead">Coming soon...</p>
            </div>
        </Transition>
    </div>

    <div class="px-3 navbar fixed-bottom bg-light border-top border-dark text-uppercase">
        <div v-bind:class="'d-flex align-items-center flex-column m-0 p-2 small gap-1 clickable' + (state.current === stt.name ? '' : ' opacity-50')"
             v-for="stt in state.all" @click="state.current = stt.name">
            <img v-bind:src="stt.image_url" alt="btn" height="24px" class="">
            <span class="text-black fw-bold">{{ stt.title }}</span>
        </div>
    </div>

    <Transition name="toast" mode="out-in" appear>
        <div class="position-fixed top-0 w-100 p-3" style="z-index: 9999" v-if="error">
            <div class="card text-bg-danger">
                <div class="card-body">
                    <code class="text-white">{{ error }}</code>
                </div>
            </div>
        </div>
    </Transition>
</div>

<div class="d-flex justify-content-center align-items-center flex-column h-100" v-else>
    <h1>Just a moment</h1>
    <p class="m-0 text-body-tertiary">resources</p>
    <p class="m-0 text-body-tertiary">game data</p>
    <p class="m-0 text-body-tertiary">wait response</p>
    <p class="m-0 text-body-tertiary">...</p>
</div>

<script src="index.js"></script>
</body>
</html>
