<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Telegram Clicker</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="pkg/bootstrap.min.css">
    <link rel="stylesheet" href="pkg/animate.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="pkg/axios.min.js"></script>
    <script src="pkg/vue.global.prod.js"></script>
</head>
<body class="p-3 text-nowrap" id="app">
<div class="px-2 navbar fixed-top gap-3 bg-body-tertiary border-bottom border-dark shadow flex-nowrap">
    <div>
        <img src="asset/img/avatar.png" class="rounded-circle border border-1 border-black" alt="avatar" height="80px">
    </div>
    <div class="d-flex flex-column gap-1 flex-grow-1">
        <div class="d-flex align-items-center fw-bold fs-6">
            <img src="asset/img/user.svg" alt="coin" height="18px" class="me-2">
            <span class="text-dark me-2">{{ TelegramName }}</span>
            <span class="text-secondary">{{ TelegramID }}</span>
        </div>
        <div class="d-flex align-items-center fw-bold small">
            <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-2">
            <span class="text-success">{{ game_data.current_coins }}</span>
        </div>
    </div>
</div>

<div class="container d-flex flex-column gap-3" style="padding: 7em 0 4em 0">
    <div v-for="product in game_data.products">
        <div class="d-flex w-100 gap-4" v-if="product.current_level>0">
            <div class="d-flex flex-column gap-2 align-items-center" @click="Click(TelegramID, product.id); PopEffect($event)">
                <div class="animate__animated animate__heartBeat animate__infinite">
                    <img v-bind:src="product.image_url" class="rounded-4 border border-dark border-1"
                         alt="img" height="72px" width="72px">
                </div>
                <span class="fw-bold text-secondary small">LVL {{ product.current_level }}</span>
            </div>
            <div class="row row-cols-2 flex-grow-1">
                <span class="text-dark fw-bold">{{ product.name }}</span>
                <div class="d-flex align-items-center m-0 p-2">
                    <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-2">
                    <span class="text-dark fw-bold">{{ product.coins_per_click }} per click</span>
                </div>
                <div class="col-12 px-2 d-flex flex-column gap-1">
                    <a class="btn btn-outline-dark fw-bold w-100" @click="BuyProduct(TelegramID, product.id)">
                        <span class="text-uppercase me-2">BUY</span>
                        <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-1">
                        <span class="">{{ product.upgrade_price }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center" v-else>
            <p class="text-dark fw-bold p-0 m-0 mb-2">{{ product.name }}</p>
            <a class="btn btn-outline-dark fw-bold w-100" @click="BuyProduct(TelegramID, product.id)">
                <span class="text-uppercase me-2">UNLOCK</span>
                <img src="asset/img/coin.svg" alt="coin" height="18px" class="me-1">
                <span class="">{{ product.upgrade_price }}</span>
            </a>
        </div>
    </div>
</div>

<div class="px-3 navbar fixed-bottom bg-light border-top border-dark text-uppercase">
    <div class="d-flex align-items-center m-0 p-2 small">
        <img src="asset/img/step.svg" alt="coin" height="24px" class="me-2">
        <span class="text-black fw-bold">Steps</span>
    </div>
    <div class="d-flex align-items-center m-0 p-2 small">
        <img src="asset/img/invest.svg" alt="coin" height="24px" class="me-2">
        <span class="text-muted fw-bold">Investors</span>
    </div>
    <div class="d-flex align-items-center m-0 p-2 small">
        <img src="asset/img/task.svg" alt="coin" height="24px" class="me-2">
        <span class="text-muted fw-bold">Tasks</span>
    </div>
</div>

<script src="index.js"></script>
</body>
</html>
