* {
    user-select: none;
    -webkit-user-select: none;
}

:root {
    --app-bg-color: #F6F3EE;
    --app-gold: #DAA520;
}

body {
    background: var(--app-bg-color) url('asset/img/bg.png') no-repeat center center fixed;
    background-size: cover;
}


.text-gold {
    color: var(--app-gold) !important;
}

particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}

.toast-enter-active,
.toast-leave-active {
    transition: all .3s ease;
}

.toast-enter-from,
.toast-leave-to {
    opacity: 0;
    transform: translateY(-50%);
}

.state-enter-active,
.state-leave-active {
    transition: all .3s ease;
}

.state-enter-from {
    opacity: 0;
    transform: translateX(50%) rotateZ(10deg);
}

.state-leave-to {
    opacity: 0;
    transform: translateX(-50%) rotateZ(-10deg);

}

/*Анимация уменьшения при нажатии на элемент и увеличении при отпускании*/
.clickable {
    transition: all .05s ease;
}

.clickable:active {
    transform: scale(.95);
}