* {
    user-select: none;
    -webkit-user-select: none;
}

:root {
    --app-bg-color: #f6f3ee;
}

body {
    background: var(--app-bg-color)  url('asset/img/bg.png') no-repeat center center fixed;
    background-size: cover;
}

particle {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
}